/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5gmpmslybv] {
  white-space: normal;
  text-align: center;
  word-break: break-word;
}

a[b-5gmpmslybv] {
  color: #0d6efd;
  text-decoration: none;
}
a:hover[b-5gmpmslybv] {
  text-decoration: underline;
}

.btn-primary[b-5gmpmslybv] {
  color: #fff;
  background-color: #198754;
  border-color: #157347;
}
.btn-primary:hover[b-5gmpmslybv] {
  background-color: #157347;
  border-color: #145c32;
}

.nav-pills .nav-link.active[b-5gmpmslybv],
.nav-pills .show > .nav-link[b-5gmpmslybv] {
  color: #fff;
  background-color: #198754;
  border-color: #157347;
}

.border-top[b-5gmpmslybv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5gmpmslybv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5gmpmslybv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5gmpmslybv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5gmpmslybv] {
  background-color: #198754;
  color: white;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
}